body {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
}

canvas {
    border: 1px solid black;
    display: block;
    margin-top: 20px;
}

.controls {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

button {
    padding: 15px;
    margin: 5px;
    font-size: 18px;
    border: none;
    background-color: #007BFF;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

button:active {
    background-color: #0056b3;
}